# Laravel Framework
/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor

# IDEs and Editors
.DS_Store
.idea
.vscode
.zed
.fleet
.nova
nbproject/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.backup
.env.production
.env.testing
auth.json
Homestead.json
Homestead.yaml

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
